@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
nav
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .navbar-brand
{
  text-transform: uppercase;
  cursor: pointer;
}


.toggle
{
  position: relative;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
  color: #fff;
}

.toggle a{
  color:white; 
  text-decoration: none;
}

.toggle a:hover{
  color:#f40f03; 
  text-decoration: none;
}

.showcase
{
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #061621;
  transition: 0.5s;
  z-index: 2;
}
.showcase.active
{
  right: 300px;
}

.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.text
{
  position: relative;
  z-index: 10;
}

.text h2
{
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text h3
{
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}

@media (max-width: 991px)
{

  .toggle{
    padding-top: 12PX;
    padding-right: 100PX;
  }
  .showcase,
  .showcase header
  {
    padding: 40px;
  }
  .text h2
  {
    font-size: 3em;
  }
  .text h3
  {
    font-size: 2em;
  }
}
@media (max-width: 600px)
{
.text
{
  margin-top: 120px;
  position: relative;
  z-index: 10;
}
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}
